.login-form{
    width: 340px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 6% auto 0;
    text-align: center;
    box-shadow: -1px 6px 49px 6px rgba(148, 90, 173, 0.493);
    -webkit-box-shadow: -1px 6px 49px 6px rgba(215, 173, 233, 0.493);
    -moz-box-shadow: -1px 6px 49px 6px rgba(198, 141, 223, 0.493);
}
.login-form h1{
    color: rgb(58, 0, 83);
    margin-bottom: 30px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.signup-btn{
    color: #fff;
    background-color: rgb(58, 0, 83);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 100%; 
    color: rgb(61, 57, 57);  
  
}
.or{
    background: #fff;
    width: 30px;
    margin: -28px auto 10px;
}

.error small{
    color: red;
}
img{
    width: 85px;
    margin-top: -60px;
}
.reset{
    background-color: white;
    color: rgb(126, 126, 250);
    margin-top: 0;
    padding: 0;
 
}