@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
   font-family: "Source Sans Pro", sans-serif;
 }

body{
  font-size: 62.5%;
}
.main-div {
 
  justify-content: center;
   align-items: center;
}

.child-div {
  text-align: center;
  margin-top: 2.4rem;
}
.addItems input {
  /* display: block; */
  min-width: 33rem;
  height: 3.4rem;
  padding: 2rem 1.2rem;
  font-size: 1.8rem;
  line-height: 1.42857143;
  margin-top: 2rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border: .4rem solid rgb(58, 0, 83);
  border-radius: 0.4rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.todo-btn {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}

.fa {
  margin-left: -2.5rem;
  margin-top: 3.6rem;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background-image: none;
  color: #666;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}
.fa:hover {
  color:rgb(58, 0, 83);
}

.fa-plus {
  font-size: 1.5rem;
}

.eachItem {
  background: rgba(58, 0, 83, 0.74);
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
  margin-left: 1rem;
  width: 33rem; 
  word-break: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 62.5%;
}

.eachItem:hover {
  
  
}

.showItems .eachItem h3 {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.fa-trash-alt
{
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  color: rgb(251, 251, 251);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

